@charset "utf-8";

$column-gap: 0px;

.spacer {
  flex-grow: 1;
}
.fill-height {
  height: 100%;
}
.fill-width {
  width: 100%;
}
@import "./grid.scss";
@import "../../../node_modules/bulma/bulma.sass";